//Tipografia
$fuentePrincipal: 'Rubik', sans-serif;
$fuenteAlternativa: 'Handjet', cursive;
$fuenteDemo:      'Josefin Sans', sans-serif;


// Colores 
$prueba : #865546;
$tinto : #613b43;
$grisOscuro : #273039;
$grisClaro : #2d3741;
$rojo : #c34d58;
$claro : #fafdfd;
$grisaceo : #e0e1e7;

// Tananos de Media Queries
$telefono: 390px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

